.content {
	width: 100%;
	background: #171719;

	.cursor {
		width: 20px;
		height: 20px;
		background: #fff;
		position: fixed;
		border-radius: 50px;
		z-index: 4;
		transform: translate(-50%, -50%);
		pointer-events: none;
		mix-blend-mode: difference;
		transition: transform 0.3s;
	}

	.sub_visual {
		width: 1180px;
		margin: 0px auto;
		position: relative;
		text-align: center;
		.text {
			display: flex;
			margin: 30px auto 100px;
			box-sizing: border-box;

			/*
			p {
				font: 35px/1 'Helvetica Neue 25 UltraLight';
				font-weight: 400;
				color: #fff;
				letter-spacing: 0.5px;
				text-align: left;
				padding-right: 100px;
				box-sizing: border-box;
			}
			*/
			h1 {
				display: inline-block;
				font: 150px/1 'open sans';
				font-weight: 400;
				color: #fff;
				letter-spacing: 1px;
				text-align: left;

				&:hover ~ .cursor {
					transform: scale(6);
				}
			}
		}
	}
	> .inner {
		width: 1180px;
		margin: 0 auto;
		transform: translateY(100px);
		opacity: 0;
		transition: 0.8s;

		p {
			padding: 70px 100px;
			text-align: center;
			font: 20px/1.3 'arial';
			color: #333;
			letter-spacing: 1px;
		}
	}
	&.on {
		> .inner {
			transform: translateY(0px);
			opacity: 1;
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		.sub_visual {
			width: 100%;
			padding: 0 20px;

			.inner {
				width: 100%;
				padding: 0 35px;

				h1 {
					font: 80px/1 'open sans';
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.content {
		.sub_visual {
			padding: 0 30px;

			h1 {
				font: 15vmin/1 'open sans' !important;
				margin-left: -35px;
			}
		}

		.inner {
			padding: 0 20px;
		}
	}
}
