#main {
	.btns {
		position: fixed;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		z-index: 30 !important;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		li {
			width: 12px;
			height: 12px;
			border-radius: 7px;
			border: 1px solid #fff;
			cursor: pointer;
			margin: 11px;
			transition: 0.3s;

			&.on {
				background: #fff;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#main {
		> .btns {
			right: 0.5vw;

			li {
				width: 10px;
				height: 10px;
				border-radius: 3px;

				&.on {
					height: 40px;
				}
			}
		}
	}
}
