#collection {
	width: 100%;
	min-height: 180vh;
	position: relative;
	margin-top: 150px;

	.inner {
		width: 1180px;
		margin: 0 auto;
		position: relative;
		transition: 0.3s;

		span {
			display: block;
			font: 20px/1 'Baskervville';
			color: #777;
			margin-bottom: 15px;
			text-align: center;
		}
		h1 {
			font: 35px/1 'Lora';
			color: #111;
			font-weight: 600;
			letter-spacing: 1px;
			text-align: center;
			margin-bottom: 20px;
		}
		p {
			font: lighter 14px/1.6 'arial';
			color: #aaa;
			letter-spacing: 1px;
			text-align: center;
			margin-bottom: 65px;
			&:last-child {
				margin: bottom 0;
			}
		}
		.wrap {
			width: 100%;

			&::after {
				content: '';
				display: block;
				clear: both;
			}

			article {
				width: 280px;
				float: left;
				margin-right: 20px;
				transition: all 0.3s;
				transition-duration: 0.5s;

				&:nth-of-type(4n) {
					margin-right: 0;
				}

				&:hover {
					> p {
						color: #000;
						text-decoration: underline;
						transition: all 0.3s;
					}
					.pic {
						img:nth-of-type(1) {
							opacity: 0;
						}
						img:last-child {
							opacity: 1;
						}
					}
				}
				.pic {
					max-width: 100%;
					height: 410px;
					overflow: hidden;
					position: relative;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: absolute;
						top: 0;
						left: 0;
						transition: all 0.3s;
						&:last-child {
							opacity: 0;
						}
					}
					.img3-1 {
						filter: contrast(90%);
					}
					.img3-2 {
						filter: contrast(85%);
					}
					.img4-1 {
						filter: contrast(150%) brightness(150%);
					}
				}
				h2 {
					display: block;
					font: 20px/1 'Oswald';
					color: #111;
					font-weight: 400;
					margin-top: 35px;
					text-align: center;
				}
				p {
					margin: 10px 0 45px;
					font: 15px/1 'arial';
				}
			}
		}
	}
	// &.on .inner article {
	// 	opacity: 1;
	// 	transform: translateY(0px);
	// }
}

@media screen and (max-width: $tablet) {
	#collection {
		padding: 0px 30px 75px;
		margin-top: 0;
		.inner {
			width: 100%;
			margin: 0 auto;
			span {
				font: 2.5vmin/1 'Baskervville';
			}
			h1 {
				font: 4vmin/1 'Lora';
				font-weight: 500;
			}
			p {
				font: 1.6vmin/1.5 'arial';
				margin-bottom: 40px;
				&:last-child {
					margin-bottom: 0%;
				}
			}
			.wrap {
				width: 100%;
				article {
					width: 48.5%;
					margin-right: 3%;
					&:nth-of-type(2n) {
						margin-right: 0%;
					}
					.pic {
						padding-top: 140%;
						width: 100%;
						height: 300px;

						img {
							width: 100%;
							height: 100%;
						}
					}
					h2 {
						font: 3vmin/1 'Oswald';
						margin-top: 20px;
					}
					p {
						margin: 10px 0 45px;
						font: 2.5vmin/1 'arial';
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#collection {
		padding: 120px 30px 50px;
		.inner {
			span {
				font: 4vmin/1 'Baskervville';
			}
			h1 {
				font: 5.5vmin/1 'Lora';
				font-weight: 500;
			}
			p {
				font: 2vmin/1.5 'arial';
			}
			.wrap article {
				width: 100%;
				margin-right: 0;
				.pic {
					width: 100%;
					height: 300px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				h2 {
					font: 4.5vmin/1 'Oswald';
				}
				p {
					font: 3.5vmin/1 'arial';
				}
			}
		}
	}
}
