.Contact {
	.inner {
		width: 1180px;
		position: relative;
	}

	.inner1 {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid #fff;
		margin-bottom: 50px;
		padding-bottom: 30px;

		> h2 {
			font: 58px/1.1 'Helvetica 65 Light';
			letter-spacing: 0.5px;
			color: #fff;
		}
	}

	.inner2 {
		position: relative;
		width: 1180px;
		margin-bottom: 100px;

		#map {
			width: 100%;
			height: 450px;
			margin: 0px auto 40px;
			border-bottom: 1px solid #fff;
			filter: grayscale(100%) brightness(90%);
		}

		.branch {
			width: 100%;
			padding: 0;
			margin: 50px auto 0;

			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: 50%;
				height: 200px;
				float: left;
				padding: 30px 30px 30px 0;
				background: #ddd;
				border-right: 1px solid #000;
				position: relative;
				transition: background-color 0.5s;
				&.on {
					background-color: #fff;
				}
				&:last-child {
					margin-right: 0;
				}

				.info {
					display: flex;
					justify-content: space-around;

					> h3 {
						display: inline-block;
						font: 23px/1 'Helvetica 25 UltraLight';
						letter-spacing: 0;
						cursor: pointer;

						&::after {
							content: '';
							display: block;
							width: 100%;
							border-bottom: 2px solid #000;
						}
					}
				}
				.add {
					> p {
						padding: 0 !important;
						display: block;
						font: 17px/1.1 'Helvetica 25 UltraLight';
						letter-spacing: 0;
						text-align: left;

						&:first-child {
							margin-top: 5px;
						}
						&:last-child {
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
}

/* tablet ---------------------------------- */
@media screen and (max-width: $tablet) {
	.Contact {
		.inner {
			width: 100%;
			padding: 0 30px;
			box-sizing: border-box;
			position: relative;
		}

		.inner1 {
			width: 90%;
			margin: 0 auto;
			padding: 0 0 30px;

			> h2 {
				font: 5.5vmin/1.2 'Helvetica 65 Light';
				letter-spacing: 0.5px;
				color: #fff;
			}
		}

		.inner2 {
			#map {
				width: 100%;
				height: 400px;
				margin: 40px 0 60px;
			}
			.branch {
				position: relative;
				margin: 0 auto;

				article {
					width: 50%;
					height: 280px;
					padding: 30px;
					margin-bottom: 20px;

					.info {
						display: block;
						justify-content: flex-start;
						flex-wrap: wrap;

						> h3 {
							width: 100%;
							display: inline;
							text-align: left;
							font: 2.6vmin/1 'Helvetica 25 UltraLight';
							border-bottom: 2px solid #000;

							&::after {
								border-bottom: none;
							}
						}
					}
					.add {
						position: relative;

						> p {
							font: 15px/1 'Helvetica 25 UltraLight';
							margin-bottom: 5px;

							&:first-child {
								margin-top: 30px;
							}
							&:last-child {
								margin-top: 60px;
							}
						}
					}
				}
			}
		}
	}
}

/* mobile ---------------------------------- */
@media screen and (max-width: $mobile) {
	.Contact {
		.inner {
			padding: 0px;
		}

		.inner1 {
			padding: 0 0 30px;
		}

		.inner2 {
			margin-top: 70px;
			padding: 0 30px;
			#map {
				margin-bottom: 45px;
			}
			.branch {
				position: relative;
				article {
					width: 100%;
					height: 230px;
					margin-right: 0%;
					margin-bottom: 20px;
					border: none;
					left: 50%;
					transform: translateX(-50%);

					.info {
						> h3 {
							font: 20px/1 'Helvetica 25 UltraLight';
						}
					}
					.add {
						> p {
							font: 15px/1 'Helvetica 25 UltraLight';
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}
}
