$tablet: 1179px;
$mobile: 539px;
//Google font
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lora:wght@400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600&family=Italianno&family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@400;500&family=Work+Sans:wght@300;400;500&display=swap');
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

#root {
	background: #171719;
}

//common
@import './common/reset';
@import './common/header';
@import './common/footer';
@import './common/layout';
@import './common/popup';
@import './common/menu';
//main
@import 'main/visual';
@import 'main/news';
@import 'main/vids';
@import 'main/btns';
@import 'main/slider';
@import 'main/view';
@import 'main/product';
//sub
@import './sub/community';
@import './sub/gallery';
@import './sub/contact';
@import './sub/join';
@import './sub/youtube';
